url = "/dashboard"
layout = "dashboard"
title = "Dashboard"

[session]
[profileEnforcer]
security = "user"
redirect = "login"

[course courses]
isPublished = 1
coursePage = "activation"
==
use Umaha\Courses\Models\UsersQuestionAnswer;
use Umaha\Courses\Models\TestQuestion;
use Umaha\Courses\Models\Course;
use Umaha\Courses\Models\UnlockedModule;

function onStart() {

    $user = Auth::getUser();

    if(!$user) return redirect('/login');

    $courses = Course::all();
    $quizzes = [];
    foreach ($courses as $course) {

        if(UnlockedModule::isUnlocked($user->id, $course->id)) {


            if(TestQuestion::getTotalNumberOfQuestionsAnswered($user->id, $course->id) > 0) {

                $correctlyAnswered = TestQuestion::getNumberOfCorrectlyAnsweredQuestions($user->id, $course->id);
                $totalNumberOfQuestions = TestQuestion::getTotalNumberOfQuestionsInCourse($course->id);
                $percentageScore = TestQuestion::getPercentageScore($user->id, $course->id);

                $quizzes[$course->name] = [
                    'correctlyAnswered' => $correctlyAnswered,
                    'totalNumberOfQuestions' => $totalNumberOfQuestions,
                    'percentageScore' => $percentageScore
                ];
            }
        }
    }

    $this['quizzes'] = $quizzes;
    // dd($quizzes);
}
==
{% component 'session' %}

<section class="admin-dashboard-section">
    <div class="admin-dashboard-right-side">

        <!-- top header start  -->
        {% partial 'dashboard/user-header' user=user %}
        <!-- top header end  -->

        <!-- dashboard-area start  -->
        <div class="dashboard-area">
            <h5 class="dashboard-title">Dashboard</h5>
            <div class="row">

                {% component 'courses' %}

            </div>
        </div>
        <!-- dashboard-area end  -->
        <div class="dashboard-course">
            <h5 class="dashboard-title">My Quizzes</h5>
            <div class="table-responsive">
                {% if quizzes|length %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Course Name</th>
                            <th class="text-center" scope="col">Correct Answers</th>
                            <th class="text-center" scope="col">Percentage(%)</th>
                            <th class="text-center" scope="col">Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for courseName, quiz in quizzes %}
                        <tr>
                            <th scope="row">{{ courseName }}</th>
                            <td class="text-center">{{ quiz['correctlyAnswered'] }}/{{ quiz['totalNumberOfQuestions'] }}</td>
                            <td class="text-center">{{ quiz['percentageScore'] }}%</td>
                            <td class="text-center">{{ quiz['percentageScore'] >= 0.6 ? "<span class='text-success'>Passed</span>" : "<span class='text-danger'>Failed</span>" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>You have not taken any quizzes yet</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% partial 'dashboard/dashboard-left-menu' %}

</section>
