{% if canRegister %}

    <form
        data-request="onRegister"
        data-request-validate
        data-request-flash
        data-request-success="document.getElementById('form').reset();"
        class="single-signin-form-wrap"
        id="form"
    >

    {% flash %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
    {% endflash %}

        <div class="single-input-wrap">
            <input
                name="name"
                type="text"
                class="form-control"
                id="registerName"
                placeholder="Enter your full name" />
        </div>

        <div class="single-input-wrap">
            <input
                name="email"
                type="email"
                id="registerEmail"
                placeholder="Enter your email" />

            <div id="loginTaken" class="alert alert-danger" style="display: none">
                Password is too weak
            </div>
        </div>

        {% if loginAttribute == "username" %}
            <div class="single-input-wrap">
                <input
                    name="username"
                    type="text"
                    id="registerUsername"
                    placeholder="Enter your username" />
            </div>
        {% endif %}

        <div class="single-input-wrap">
            <input
                data-request="onCheckPasswordStrength"
                data-request-success="$('#weakPassword').toggle(!!data.passwordWeak)"
                data-track-input
                name="password"
                type="password"
                id="registerPassword"
                placeholder="Choose a password (minimum 8 charaters)" />


            <div id="weakPassword" class="text-danger" style="display: none">
                <small>Password is too short</small>
            </div>
        </div>

        <div class="single-input-wrap">
            <input
                name="password_confirmation"
                type="password"
                id="userSigninPassword"
                placeholder="Confirm your password" />
        </div>

        <div class="btn-wrap">
            <button type="submit" class="btn btn-primary w-100">Register</button>
        </div>

    {{ form_close() }}

{% else %}
    <!-- Registration is disabled. -->
{% endif %}

