<!--fivicon icon-->
<link rel="icon" href="{{ 'assets/img/fevicon.png' | theme }}">

<!-- Stylesheet -->
<link rel="stylesheet" href="{{ 'assets/css/animate.min.css' | theme }}">
<link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | theme }}">
<link rel="stylesheet" href="{{ 'assets/css/magnific.min.css' | theme }}">
<link rel="stylesheet" href="{{ 'assets/css/nice-select.min.css' | theme }}">
<link rel="stylesheet" href="{{ 'assets/css/owl.min.css' | theme }}">
<link rel="stylesheet" href="{{ 'assets/css/slick-slide.min.css' | theme }}">
<link rel="stylesheet" href="{{ 'assets/css/fontawesome.min.css' | theme }}">
<link rel="stylesheet" href="{{ 'assets/css/style.css' | theme }}">
<link rel="stylesheet" href="{{ 'assets/css/responsive.css' | theme }}">
<link rel="stylesheet" href="{{ 'assets/youtube-popup/grt-youtube-popup.css' | theme }}">

<!--Google Fonts-->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">


{% placeholder page_css %}

{% styles %}
