<!-- navbar start -->
<header class="navbar-area">
    <nav class="navbar navbar-expand-lg">
        <div class="container nav-container">
            <div class="responsive-mobile-menu">
                <button class="menu toggle-btn d-block d-lg-none" data-target="#themefie_main_menu"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-left"></span>
                    <span class="icon-right"></span>
                </button>
            </div>
            <div class="logo">
                <a class="main-logo" href="{{ 'home' | page }}"><img class="img-fluid" style="width: 60px" src="{{ this.theme.logo | media  }}" alt="img"></a>
            </div>

            <div class="nav-right-part nav-right-part-desktop">
                <ul>
                    <li class="right-search">
                        <a href="#"><i class="fa fa-search"></i></a>
                        <div class="single-input-wrap">
                            <input type="text" placeholder="Search your best courses">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </li>
                    {% if user %}
                        <li><a href="{{ 'dashboard' | page }}" class="btn btn-primary">Dashboard</a></li>
                    {% else %}
                        <li><a href="{{ 'login' | page }}">Log In</a></li>
                        <li>
                            <a href="{{ 'signup' | page }}" class="btn btn-base-light">
                                Sign Up
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- navbar end -->
