[session]
security = "all"

[profileEnforcer]
fname = 10
lname = 10
email = 10
phone = 10
country = 10
state = 10
center = 0
==
{% component 'session' %}{% component 'profileEnforcer' %}
<!DOCTYPE html>
<html lang="zxx">

<head>

    {% partial 'site/meta' %}
    {% partial 'site/css' %}

</head>
<body class='sc5'>

    {% partial 'site/nav-mobile' %}

    {% page %}

    <!-- back-to-top end -->
    <div class="back-to-top">
        <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
    </div>

    {% partial 'site/js' %}

</body>

</html>