[session]
security = "all"
==
<!DOCTYPE html>
<html lang="zxx">

<head>
    {% component 'session' %}
    {% partial 'site/meta' %}
    {% partial 'site/css' %}

</head>
<body class='sc5'>

    <!-- search popup area start -->
    <div class="search-popup" id="search-popup">
        <form action="https://themefie.com/html/edufie/home.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- //. search Popup -->

    {% partial 'site/nav' %}

    {% flash %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
    {% endflash %}

    {% page %}

    {% partial 'site/footer' %}

    <!-- back-to-top end -->
    <div class="back-to-top">
        <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
    </div>

    {% partial 'site/js' %}
</body>

</html>