[session]
security = "all"
==
<!DOCTYPE html>
<html lang="zxx">

<head>
    {% component 'session' %}
    {% partial 'site/meta' %}
    {% partial 'site/css' %}

</head>
<body class='sc5'>

    {% partial 'site/nav' %}

    {% flash %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
    {% endflash %}

    {% page %}

    {% partial 'site/footer' %}

    <!-- back-to-top end -->
    <div class="back-to-top">
        <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
    </div>

    {% partial 'site/js' %}
</body>

</html>
